{% extends "layout.html" %}

{% block body %}
<div class="row">
    <div class="col-md-10 offset-md-3">
        <div class="col-lg-8">
            <h1>Projeler</h1>
            <hr>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 offset-md-3">
        <div class="col-lg-8">
            <form>
                {% csrf_token %}
                <input
                    type="text"
                    name="keyword"
                    class="input-sm"
                    maxlength="64"
                    placeholder="Ara..."
                >
                <button type="submit" class="btn btn-success">Ara</button>
            </form>
        </div>
    </div>
</div>
{% if projects %}
{% for project in projects %}
<div class="row">
    <div class="col-md-10 offset-md-3">
        <!-- Post Content Column -->
        <div class="col-lg-8">
            <!-- Title -->
            <a href="{% url 'project:detail' project.id %}">
                <h3 class="mt-4">{{project.title}}</h3>
            </a>
            <!-- Author -->
            <p class="lead">
                {{project.author.username}} tarafından yayınlandı
            </p>
            <hr>
            <!-- Date/Time -->
            <p>{{project.created_date}}</p>
            <hr>
            <!-- Preview Image -->
            {% if project.project_image %}
            <a href="{% url 'project:detail' project.id %}">
                <img class="img-fluid rounded" src="{{project.project_image.url}}" alt="">
            </a>
            <hr>
            {% endif %}
            <!-- Post Content -->
            <p class="lead">
                {{project.content | safe | truncatewords:50 }}
            </p>
            <a href="{% url 'project:detail' project.id %}" class="btn btn-success">Devamını Oku</a>
            <hr>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<p></p>
<div class="row">
    <div class="col-md-10 offset-md-3">
        <div class="col-lg-8">
            <div class="alert alert-danger">
                Proje bulunmuyor...
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
